<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrinterName" value="Snagit 12"/>
    <add key="DBServer" value=""/>
    <add key="Database" value="Works"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="OrgId" value="3"/>
    <add key="SiteId" value="2"/>
    <add key="applicationusername" value="Allscripts, Provider"/>
    <add key="applicatoinUID" value="16"/>
    <add key="patientID" value="25"/>
    <add key="ItemId" value="977"/>
  </appSettings>
</configuration>